body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    margin: 0 auto;
    background-image: url(./images/bigsq_new.bmp);
    /* background-color: #f9f2e8; */
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
}

header {
    background-color: #ffcdb2;
    height: 90px;
}

.header-icon {
    float: left;
    padding: 20px 40px;
    font-size: 36px;
    color: firebrick;
}
.id {
    color: black;
}

.header-menu {
    float: right;
    padding: 20px 30px;
    margin-bottom: 0;
}

.header-menu li {
    margin: 0px 7px;
    float: right;
    list-style: none;
    font-size: 15px;
    padding: 2px 30px;
}

footer {
    background-color: #6d6875;
    height: 90px;
}

.btn {
    padding: 6px 12px;
    opacity: 0.8;
    color: white;
    display: inline-block;
    border-radius: 7px;
}

.office-info {
    float: left;
    width: 75%;
}

.op {
    opacity: 0.7;
}
.mid-1 {
    background-color: #ffb4a2;
}

.mid-2 {
    background-color: #e5989b;
}

.mid-3 {
    background-color: #b5838d;
}

.services {
    height: 300px;
    margin: 0px 15px;
    text-align: center;
}

.service {
    float: left;
    font-weight: solid;
    width: 25%;
}

.service-icon img{
    opacity: 0.7;
}

.service-icon {
    position: relative;

}

.service-icon p {
    position: absolute;
    top: 90px;
    width: 100%;
    color: white;
    text-align: center;
}

.socials {
    float: right;
    width: 25%;
}

.tw {
    background-color: #55acee;
}

.fb {
    background-color: #3b5998;
}

.ig {
    background-color: #E4405F;
}
.wa {
    background-color: #075E54;
}